
//inner Div
.innerContainer{
    margin-left: 10%;
    //border: 1px solid black;
    width: 40%;
   
}

//header 
h1{
    text-align: center;
    font-family: cursive;
    font-weight:bold;
    color: crimson;
    font-size: 40px;
    text-decoration: underline;
}

//header 
h2{
    text-align: center;
    font-family: cursive;
    font-weight:bolder;
    color: crimson;
    font-size: 25px;
    text-decoration: underline;
}

//href 
a{
    text-decoration: none;
    color: rgb(76, 73, 102);
}

.addbtn{
    margin-left: 120px;
    width: 80px;
    height: 30px;
    color: rgb(76, 73, 102);
    background-color: rgb(183, 209, 228);
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;

}

//input field and add button
.div1{
    margin-left: 20%;
    font-family: cursive;  
    font-weight: bold;  
}




//CheckBox and text div
.div-left{
    //display: inline;
    display: inline-flex;
    margin-left: 20%;
    font-family: cursive;
    font-size: 20px;
    width: 250px;
    margin-top: 10px;
    //border: 1px solid black;
}

//checkbox
.chkbx{
    width: 18px;
    height: 18px;
    &:checked {
        text-decoration: underline;
    }
}

//Check box checked then strike the text
input[type=checkbox]:checked + div.todotext{
    text-decoration: line-through;
    
  }


//View text box
.todo-item-view{
    word-wrap: break-word;
    font-family: cursive;
    //border: 1px solid black;
    border-radius: 7px;
    display: inline-flex;
    margin-left: 25%;
    
}

//remove button 
.div-right{
    margin-left: 20px;
    display: inline;
}

//view button
.viewbtn{
    background-image: url(../../../assets/images/view2.png);
    border: none;
    width: 23px;
    height: 23px;
    cursor: pointer;
    &:hover{
        opacity: 0.5;
    }
}


.deletebtn{
   background-image: url(../../../assets/images/delete.jpg);
   border: none;
   cursor: pointer;
   width: 23px;
    height: 23px;
   font-weight: bold;
   font-size: 22px;
   &:hover{
    opacity: 0.5;
   }

}

