a:hover{
    color: $brand-color;
}

.requestShape:hover{
    color: black;
}

.row11img1:hover{
    cursor: pointer;
    opacity: 0.4;
}


.row11img2:hover{
    cursor: pointer;
    opacity: 0.4;
}

.row11img3:hover{
    cursor: pointer;
    opacity: 0.4;
}

.row11img4:hover{
    cursor: pointer;
    opacity: 0.4;
}